<div class="common_container">
  <div class="course_container_course" style="width:1000px">
    <div class="course_head">
      <p class="position">当前位置: >><a ui-sref="index.course">课程安排>></a>课程详情 </p>
    </div>
    <div class="coursdetail_content" style="width:1000px" ng-controller="courseDetailCtl">
      <div class="coursdetail_head">
        <div class="detail_img">
          <img ng-src="{{item.img_path}}" width="331" height="226">
        </div>
        <div class="detail_message">
          <span class="title"></span>
          <div class="apply_info">
            <div class="apply_people">讲师：{{item.sponsor}}</div>
            <span class="apply_quota ">剩余名额：<span class="quote">{{item.surplus_quota}}</span> 开课时间：{{item.teaching_time}}
            <!--<span class="quote">2天3小时</span>-->


            </span>
            <span class="apply_time">时长：{{item.time_length}}分钟</span>
            <div class="me_sign" ng-if="item.surplus_quota!=0">
              我要报名
            </div>
            <div class="me_sign gray" ng-if="item.surplus_quota==0">
              已结束
            </div>
          </div>

        </div>

      </div>
      <div class="apply_table">

        <div class="apply_table_title">
          <span class="course_overview">课程概述</span>
        </div>
        <table class="detail_table">
          <tr>
            <td width="10%">课程简介</td>
            <td class="detail_content moreinfo" width="90%">{{item.discription}}</td>
          </tr>
          <tr>
            <td>所属分局</td>
            <td class="detail_content">{{item.user_id}}</td>
          </tr>
          <tr>
            <td>授课时间</td>
            <td class="detail_content">{{item.teaching_time}} </td>
          </tr>
          <tr>
            <td>讲师</td>
            <td class="detail_content">{{item.sponsor}}</td>
          </tr>

          <tr>
            <td>授课地址</td>
            <td class="detail_content">{{item.area}}</td>
          </tr>

          <tr>
            <td>课件下载</td>
            <td class="detail_content"><a class="download_info" ng-href="{{courseware.file_path}}">{{courseware.courseware_name}}</a></td>
          </tr>

        </table>

      </div>

    </div>

  </div>
</div>