<div class="common_container" >
   <div class="course_container" id="course_container">
  		<p class="position">当前位置: <a href="#">学堂首页</a> >><a href="#">课堂公告</a>>>
          <span class="fork_detail">
            <span id="fork" class="fork">营改增</span><span class="fork_img"><img src="public/images/fork.png" width="10" height="10"/></span>
          </span>
       </p>
        <div class="course_left">
            <course-search>
                <condition>

                </condition>
                <search-content>

                </search-content>
                <commonpage>

                </commonpage>
            </course-search>

            <div class="course_search">
                <div class="course_top">
                    <div class="course_search1"> 
                    <label>课程名称：</label>
                    <input type="text" />
                    <span class='search_btn'>搜索</span>
                        </div>
                    <div class="course_search1"> 
                        <label class="time_label">授课时间：</label>
                        <input type="text"  id="actionDate" class="easyui-datebox">
                        <label class="time_to">到</label>
                    <input type="text"  class="easyui-datebox">
                    </div>
                    <div class="single_change">
                        <div class="course_search1 "> 
                        <label class="class_course">分类课程：</label>
                        <span class="course_name">增值税</span>
                        <span class="course_name">消费税</span>
                        <span class="course_name">企业所得税</span>
                        <span class="course_name">车辆购置税</span>
                        <span class="course_name">进出口税收</span>
                        <span class="course_name">非居民税收</span>
                        <span class="course_name">其他</span>
                        </div>
                        <div class="course_search1 course_searchlast "> 
                        <label class="class_course">专题课程：</label>
                        <span class="course_name">新办纳税人</span>
                        <span class="course_name li_on">营改增</span>
                        <span class="course_name">小微企业税收优惠</span>
                        <span class="course_name">电子税务局</span>
                        </div>
                    </div>    	    
                </div>
                <div class="searchdiv-fold open">收起搜索</div>


                <div class="course_main" ng-controller="searchCourseCtl">
                    <div class="main_top">
                        <span class="course_data" ng-click="courseType='entity'" ng-class="{'active':courseType=='entity'}" ng-init="courseType='entity'">实体课程</span>
                        <span class="course_data" ng-click="courseType='online'" ng-class="{'active':courseType=='online'}">网络课程</span> 
                        <div class="course_style list" ng-click="isList=true" ng-class="{active:isList}"><span></span></div>
                        <div class="course_style table" ng-click="isList=false" ng-class="{active:!isList}"><span></span></div>
                    </div>
                    <div ng-show="courseType=='entity'">
                        <ul id="coursecontent" class="list"  ng-class="{table:!isList,list:isList}">  
                            <li ng-repeat="item in list | limitTo: 8">
                                <span class="left_img" ui-sref="index.course.detail({courseId:item.course_id})">
                                    <img ng-src='{{item.img_path}}' width='176' height='121'>
                                </span>
                                <span class="cousrsetitle" ui-sref="index.course.detail({courseId:item.course_id})">{{item.course_name}}</span>
                                <span class="unit">
                                    <span class="unit_name">{{item.user_id}}</span>
                                    <span class="date">{{item.teaching_time}}</span>
                                </span>                    
                                <span class="detail_content">{{item.discription}}</span>
                                <span class="time"><em>时长 : </em>{{item.time_length}}分钟</span>
                                <span class="teacher"><em>讲师 : </em>{{item.sponsor}}</span>  
                                    
                                <i ng-if="item.surplus_quota == 0"> 
                                    <!--<span class="signnumbg"></span> -->
                                    <!--<span class="signnum'>已满</span> -->
                                    <span class="zero">剩余名额：{{item.surplus_quota}}</span>
                                    <input class="now_sign full" value='立即报名' readonly='true'><span class="fullinfo">名额已满</span> 
                                </i>
                                <i ng-if="item.surplus_quota != 0"> 
                                    <span class="left_signnum orange">剩余名额：{{item.surplus_quota}}</span>
                                    <input class="now_sign" value='立即报名'>
                                </i>    
                                    
                                
                                                        
                            </li>                 
                        </ul>   
                        <!--分页-->
                        <div class="commonpage"></div> 		
                        <!--分页-->
                    </div>
                   <div ng-show="courseType=='online'" >
                        <ul id="coursecontent" class="list"  ng-class="{table:!isList,list:isList}" >  
                            <i ng-controller="searchVideoCtl">
                                <li ng-repeat="item in list | limitTo: 8">
                                    <span class="left_img" ui-sref="index.videoClass.detail({courseId:item.course_id})">
                                        <img ng-src='{{item.img_path}}' width='176' height='121'>
                                    </span>
                                    <span class="cousrsetitle" ui-sref="index.videoClass.detail({courseId:item.course_id})">{{item.course_name}}</span>
                                    <span class="unit">
                                        <span class="unit_name">{{item.lecturer}}</span>
                                        <span class="date">{{item.upload_time}}</span>
                                    </span>                    
                                    <span class="detail_content">{{item.discription}}</span>
                                    <span class="type"><em>课程</em>类型 : {{item.name}}</span>
                                    <span class="size intersize">大小 : {{item.courseware_size}}M</span> 

                                    <span class="zero" ng-class="{'orange':item.count!=0}">下载量 : {{item.count}} </span>
                                    
                                    <span class="now_down">立即下载</span>      
                                </li>  
                            </i>
               
                        </ul>   
                        <!--分页-->
                        <div class="commonpage"></div> 		
                        <!--分页-->
                    </div> 
                </div>

                
            </div>
         </div>

        <tabs>
            <pane title="实体课程排行">
                <ul ng-controller="courseEntityListCtl">
                    <li ng-repeat="item in list | limitTo: 10" ui-sref="index.course.detail({courseId:item.course_id})">    
                        <hoveritem>
                            <single><em class="num">{{$index+1}}</em>{{item.course_name}}</single>
                            <detail>
                                <span class="videoimg"><img ng-src="{{item.img_path}}" alt="{{item.img_path}}"></span>
                                <dl>
                                    <dd class="name">{{item.course_name}}</dd>
                                    <dd class="teacher">讲师 : {{item.sponsor}}</dd>
                                    <dd class="time">时长 : {{item.time_length}} 分钟</dd>
                                </dl>    
                            </detail> 
                        </hoveritem>
                    </li>
                </ul>
            </pane>
            <pane title="网络课程排行">
                <ul ng-controller="videoListCtl">
                    <li ng-repeat="item in list | limitTo: 10" ui-sref="index.videoClass.detail({courseId:item.course_id})">    
                        <hoveritem>
                            <single><em class="num">{{$index+1}}</em>{{item.course_name}}</single>
                            <detail>
                                <span class="videoimg"><img ng-src="{{item.img_path}}" alt="{{item.img_path}}"></span>
                                <dl>
                                    <dd class="name">{{item.course_name}}</dd>
                                    <dd class="teacher">课程类别 : {{item.course_type}}</dd>
                                    <dd class="time">浏览次数 : {{item.video_click_number}}</dd>
                                </dl>    
                            </detail> 
                        </hoveritem>
                    </li>
                </ul>
            </pane>
        </tabs>
  </div>
</div>	
<script type="text/javascript">
  $(function(){

    // //通用分页插件
    //   $(".commonpage").createPage({
    //       pageCount:6,//页数的总数
    //       pageSize:10,//每页10条记录
    //       current:1, //默认第一页
    //       position:"center",
    //       backFn:function(pageCurrent,pageSize,pageCount){
             
    //       }
    //   });
    //    $(".single_change span").click(function(){            
    //        $(this).parents(".single_change").children().children("span").removeClass("li_on");
    //        $(this).toggleClass("li_on");
    //        var _value= $(this).context.innerHTML;
    //        $(".fork_detail").show();
    //        $("#fork").html(_value);                       
    //    });



    
    // $(".fork_img").click(function(){
    //    $(".single_change span.li_on").toggleClass("li_on");
    //    $(this).parent(".fork_detail").hide();
    // });


});

</script>
