<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>纳税人学堂-课程详情</title>

	
</head>
<body>

<div class="common_container" >
  <div class="course_container_course" style="width:1000px">
  	<div class="course_head">
		  <p class="position">当前位置:  >><a id="back_course">课堂公告>></a>课程详情 </p>
	  </div>
    <div class="coursdetail_content">
      <div class="coursdetail_head">
        <div class="detail_img">
        <img src="public/images/pic03.png" width="331" height="226">
        </div>
        <div class="detail_message">
          <span class="title">
             增值税一般纳税人丢失防伪税控增值税专用发票申报抵扣
             </span>
              <div class="time">
             开课时间：2015-11-25  16:00
             </div>
              <div class="apply_info">
             <div class="apply_people">讲师：李俊义</div>
             <span class="apply_quota ">剩余名额：<span class="quote">23</span>
                截止报名时间还有<span class="quote">2天3小时</span>

                 
             </span>
             <span class="apply_time">时长：30分钟</span>
             <div class="me_sign">
             我要报名
          </div>
          </div>
          
          </div>
         
      </div>
      
      <div class="apply_table">
      
      <div class="apply_table_title">
         <span class="course_overview">课程概述</span>
      </div>
        <table class="detail_table">
           <tr>
           <td width="10%">课程简介</td>
           <td class="detail_content moreinfo" width="90%">课程从17个不同的方面为您讲解营改增税收业务的变化，还将为您讲解融资租赁行业相关的基本税收政策、税收优惠、热点难点问题等。</td>
         </tr>
          <tr>
           <td>所属分局</td>
           <td class="detail_content">江苏省国税局</td>
         </tr>
          <tr>
           <td>授课时间</td>
           <td class="detail_content">2015-11-27 17:00 </td>
         </tr>
          <tr>
           <td>讲师</td>
           <td class="detail_content">张晓丽</td>
         </tr>
  
          <tr>
           <td>授课地址</td>
           <td class="detail_content">江宁区国税局纳税人学堂</td>
         </tr>
        
           <tr>
           <td>课件下载</td>
           <td class="detail_content"><a class="download_info" href="#">发票申领讲解</a></td>
         </tr>

       </table>
       
      </div>
       
    </div>
    <div class="commontabs right_container">
      <div class="menus-item menus2">
        <span class="active">相关课程</span>
      </div>

       <div class="commonlist_container" >
          <div id="related_cousrse" class="item">
             相关课程
          </div>
       </div>
      
    </div>


	


</div>	
<script type="text/javascript">
  
  $(function(){
  var coursejosn =[
  {
    id:"",
    imgurl:"public/images/pic0-01.png",
    name:"全部课程-营改增及融资租赁行业税收培训",
    unit:"南京市鼓楼分局",
    date:"2015-11-27 16:00",
    detail:"课程从17个不同方面为您讲解营改增前后税收优惠变化，还讲解为您融资租赁行业的基本税收政策、税收优惠、热点难点问题等。",
    time:"35分钟",
    teacher:"陈老师",
    signnum:"68人报名",
    left_signnum:"15"
  },{
    id:"",
    imgurl:"public/images/pic0-01.png",
    name:"全部课程",
    unit:"南京市鼓楼分局南京市鼓楼分局南京市鼓楼分局",
    date:"2015-11-27 16:00",
    detail:"课程从17个不同方面为您讲解营改增前后税收优惠变化，还讲解为您融资租赁行业的基本税收政策、税收优惠、热点难点问题等。",
    time:"35分钟",
    teacher:"陈老师",
    signnum:"1222268人报名",
    left_signnum:"0"
  },{
    id:"",
    imgurl:"public/images/pic0-01.png",
    name:"全部课程",
    unit:"南京市鼓楼分局",
    date:"2015-11-27 16:00",
    detail:"课程从17个不同方面为您讲解营改增前后税收优惠变化，还讲解为您融资租赁行业的基本税收政策、税收优惠、热点难点问题等。",
    time:"35分钟",
    teacher:"陈老师",
    signnum:"68人报名",
    left_signnum:"15"
  },{
    id:"",
    imgurl:"public/images/pic0-01.png",
    name:"营改增及融资租赁行业税收培训",
    unit:"南京市鼓楼分局",
    date:"2015-11-27 16:00",
    detail:"课程从17个不同方面为您讲解营改增前后税收优惠变化，还讲解为您融资租赁行业的基本税收政策、税收优惠、热点难点问题等。",
    time:"35分钟",
    teacher:"陈老师",
    signnum:"68人报名",
    left_signnum:"15"
  },{
    id:"",
    imgurl:"public/images/pic0-01.png",
    name:"营改增及融资租赁行业税收培训",
    unit:"南京市鼓楼分局",
    date:"2015-11-27 16:00",
    detail:"课程从17个不同方面为您讲解营改增前后税收优惠变化，还讲解为您融资租赁行业的基本税收政策、税收优惠、热点难点问题等。",
    time:"35分钟",
    teacher:"陈老师",
    signnum:"68人报名",
    left_signnum:"15"
  }
]   
    $("#back_course").click(function(){
      window.top.gotoMenu(1,"courseBulletion.html");
       return false;
    });
          /*加载相关课程*/

     commonlistInit_course({
      targetId:"#related_cousrse",
      josn:coursejosn
     });

  });


</script>


</body>

</html>