<div class="common_container">
	<div class="banner">
		<div class="Calendar_show">
		<embed src="public/images/banner.swf" width="1001" height="270" type="application/x-shockwave-flash" wmode="transparent" quality="high"></embed>
		</div>
		
	</div>
	<div class="index_content">
		<div class="inform">
			<div class="video">
					<div id="kinMaxShow" ng-controller="homeBannerImg">
	 				<div>
	        			<a href="#"><img ng-src="{{src}}"/></a>
	       			</div>
				</div>
			</div>
			<div class="question">
				<div class="base_information">
					  <ul class="tab" id="tab_1">
						<li class="hover_1">最新通知</li>
						<li class="more"><a>更多>> </a></li>
					</ul>
				</div>
				<div class="tab_content1">
					<div class="tab_content_item">
						<dl ng-controller="homeNewNotice">
							<dt ng-repeat="item in list">
								<span class="number" ng-class="{new:item.isNew,gray:!item.isNew}">{{item.num}}</span>
								{{item.con}}
							</dt>
						</dl>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="course" ng-controller="homeCourseRecommend">
			<div class="question question_1">
				<div class="base_information">
					  <ul class="tab" id="tab_1">
						<li ng-class="{'hover_1':data.current == 1}" ng-mouseenter="setCurrent(1)">实体课程推荐</li>
						<li ng-class="{'hover_1':data.current == 2}" ng-mouseenter="setCurrent(2)">网络课程推荐</li>
					  </ul>
					  <span class="more_inf"><a>更多>> </a></span>
				</div>
				<div class="tab_content">
					<div class="tab_content_item rank" ng-if="data.current == 1">
						<ul>
							<li ng-repeat="item in data1">
								<a ng-class="{'hover':item.isHover}">
									<div class="simple">
										<span class="no">{{item.num}}</span>
										<span class="title_1 tx_unbr">{{item.title}}</span>
										<span class="learn">{{item.date}}</span>
									</div>
									<div class="detail">
										<div class="pic">
											<img ng-src="{{item.src}}">
										</div>
										<div class="intro tx_unbr">
											{{item.title_1}}
											<span class="teacher">
												<span class="teacher_icon"></span>{{item.teacher}}
												<span class="time"></span>{{item.time}}
												<span class="sign_up">报名</span>
											</span>
											<span class="adress">{{item.address}}</span>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="tab_content_item common_question" ng-if="data.current == 2">
						<ul>
							<li ng-repeat="item in data2">
								<div class="pic pic1" ng-mouseenter="iconShow = true" ng-mouseleave="iconShow = false"><img ng-src="{{item.src}}"><span class="icon_show" ng-show="iconShow"></span></div>
								<div class="course_detial">
									<p class="train">{{item.title}}</p>
									<p><span>{{item.type}}</span></p>
									<p>{{item.time}}</p>
									<p>{{item.teacher}}</p>
								</div>
								<div style="clear:both"></div>		
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			
		</div>
		<div style="clear:both"></div>
	</div>
	<div class="right_menu">
		<ul class="right_con" style="margin-left: 20px;">
			<li><span class="date"></span></li>
			<li><span class="phone" style="line-height:20px;"></span></li>
			<li><span class="qq" style="line-height:20px;"></span></li>
			<li><span class="question" style="line-height:20px;"></span></li>
		</ul>
		<div class="Calendar" style="display:none">
						<div class="Calendar_top">
							
							<span id="idCalendarPre">
								<img src="public/images/right-jt.png" width="10" height="14">
							</span> 
							<span class="Calendar_input"> 
							<span id="idCalendarYear"></span> 年 <span id="idCalendarMonth"></span> 月 </span> 
							<span id="idCalendarNext">
							<img src="public/images/left-jt.png" width="10" height="14">
							</span>
							<!-- <span class="Calendar_close"></span> -->
						</div>
						<table cellspacing="0" class="tb_date" style="height:240px">
							<thead>
							<tr>
							<td style="color:#bb1b21;">日</td>
							<td>一</td>
							<td>二</td>
							<td>三</td>
							<td>四</td>
							<td>五</td>
							<td style="color:#bb1b21;">六</td>
							</tr>
							</thead>
							<tbody id="idCalendar">
							</tbody>
						</table>
					
		</div>
		<div class="serviceline" style="display:none">
			<div class="question question_2 service">
				<div class="base_information">
					  <ul class="tab" id="tab_1">
						<li class="hover_1">电话客服</li>
					
					</ul>
				</div>
				<div class="tab_content1">
					<div class="tab_content_item">
						<dl>
								<dt><span class="number new1"></span>客服电话：123456789</dt>
								<dt><span class="number new1"></span>客服主要服务时间：9:00 - 24:00</dt>
								
						</dl>
					</div>
					
				</div>
			</div>
		</div>
		<div class="qqline" style="display:none">
			<div class="question question_2 qq">
				<div class="base_information">
					  <ul class="tab" id="tab_1">
						<li class="hover_1"> Q Q 客服</li>
					
					</ul>
				</div>
				<div class="tab_content1">
					<div class="tab_content_item">
						<dl>
								<dt><span class="number new1"></span>客服电话：123456789</dt>
								<dt><span class="number new1"></span>客服主要服务时间：9:00 - 24:00</dt>
								
						</dl>
					</div>
					
				</div>
			</div>
		</div>
		<div class="common_q" style="display:none">
			<div class="question question_2">
				<div class="base_information">
					  <ul class="tab" id="tab_1">
						<li class="hover_1">常见问题</li>
						<li class="more"><a>更多>> </a></li>
					</ul>
				</div>
				<div class="tab_content1">
					<div class="tab_content_item">
						<dl>
								<dt><span class="number new1"></span>营改增及融资租赁行业税收讲解”视频直播培训公告</dt>
								<dt><span class="number new1"></span>国家税务总局关于发布《减免税政策代码目录》的公告国家税务总局关于发布《减免税政策代码目录》的公告</dt>
								<dt><span class="number new1"></span>增值税一般纳税人资格登记”视频课程发布公告</dt>
								<dt><span class="number new1"></span>营改增及融资租赁行业税收讲解”视频直播培训公告</dt>
								<dt><span class="number new1"></span>国家税务总局关于发布《减免税政策代码目录》的公告</dt>
								<dt><span class="number new1"></span>增值税一般纳税人资格登记”视频课程发布公告国家税务总局关于发布《减免税政策代码目录》的公告</dt>
								
								
						</dl>
					
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>	

 <script type="text/javascript" src="js/jquery.kinMaxShow-1.1.min.js" ></script>
 <script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript">
$(function () {
	  	$(".right_menu ul li span").hover(function(){
	  		$(this).parent("li").siblings().find("span").html("");
	  		$(this).parent("li").siblings().find("span").removeClass("backg");
	  		$(this).addClass("backg");
	  		var currentLi=$(this).parent("li").index();
	  		if(currentLi==0){
				$(this).html("日历");
	  		} else if(currentLi==1){
	  			$(this).html("电话客服");
	  		}
	  		else if(currentLi==2){
	  			$(this).html("Q Q 客服");
	  		}else {
	  			$(this).html("常见问题");
	  		};
	  		
	  		$(this).parents(".right_menu").children("div").eq(currentLi).show();
	  		$(this).parents(".right_menu").children("div").eq(currentLi).siblings("div").hide();
	  	});
	  	/*$(".Calendar_close").click(function(){
	  		$(this).parents(".Calendar").css("display","none");
	  	})*/
	  	$(".simple").hover(function(){
	  		$(this).parents("li").siblings().find(".detail").hide();
	  		$(this).parents("li").siblings().find(".simple").show();
	  		$(this).hide();
	  		$(this).next(".detail").show();
	  	})
	  	$(".Calendar").find("tr:last").find("td").css("border","none");
	  	$("#idCalendarNext").click(function(){
	  		$(this).parents(".Calendar_top").next().find("tr:last").find("td").css("border","none");
	  	})
		$("#idCalendarPre").click(function(){
			$(this).parents(".Calendar_top").next().find("tr:last").find("td").css("border","none");
		})
		$(".right_menu>div").mouseover(function(){
			
			$(this).show();
		})
		$(".right_menu").mouseleave(function(){
			$(this).children("div").hide();
		})
		$(".pic1 img").hover(function(){

			
			$(this).parent(".pic1").find(".icon_show").css("display","inline-block");
			$(this).parents("li").siblings().find(".pic1").find(".icon_show").hide();
		})

})

</script>