<div class="teract_container">
<div class="tractmore">
    <div class="common_container">
		  <p class="position">当前位置:  <a class="back" ui-sref="index.interactivePlace">互动专区>></a>互动专区-更多</p>
	 </div>
	<div class="tractmore_content"> 
	   <div class="tractmore_list" ng-controller="interactiveMoreCtrl">
	      	<div class="leftmenu" id="tractmore_tree">

				 <div class="menu-item" ng-repeat="item in data1">
					<div class="menu-title" ng-click="setCurrent($index)">
						<span class="img img{{$index}}"></span>
						<span class="name">{{item.name}}</span>
						<span class="menu-arrow" ng-class="{'open':toggleList.current == {{$index}}}"></span>
					</div>
					<div class="menu-content" ng-show="toggleList.current == {{$index}}">
						<dl ng-repeat="iteminner in item.menus">
							<dd data-option="{{iteminner.src}}" ng-click="getData(iteminner.name)">{{iteminner.name}}</dd>
						</dl>
					</div>
				</div>

	      	</div>
	       	<div class="tractmore_main">
	         	<div class="tractmore_detail">
		         	<div class="tract_title" id="tract_title"><span class="tex_name">{{titleName}}</span></div>
		            <div class="tax_content" id="tax_content">

			            <ul class="content">
			            	<li class="li_detail" ui-sref="index.interactivePlace.more.detail({courseId:item.id})" ng-repeat="item in data2 | limitTo:15">
			            	  <span class="point"></span>
			            	  <span class="tax_detail">{{item.title}}</span>
			            	  <span class="tax_time">{{item.time}}</span>
			            	</li>
			            </ul> 

	         		</div>
	        	</div>
				<div style="clear:both"></div>
				<div class="tax_bottom">
					<span class="total">共78条记录，</span>
					<span class="every_page">每页15条</span>
					<span class="current">当前第1/14页</span>
					<span class="home_page">首页</span>
					<span class="pre_page">上一页</span>
					<span class="next_page">下一页</span>
					<span class="end_page">尾页</span>
					<span class="skip_page">转到<select><option>1</option><option>2</option><option>3</option></select>页</span>
				</div>
          	</div>
	   </div>
	</div>
</div>
</div>