<div class="teract_container">
<div class="tractmore">
    <div class="common_container">
		 <p class="position">当前位置:<a ui-sref="index.interactivePlace">互动专区>></a><a class="back" ui-sref="index.interactivePlace.more">互动专区</a>-详情</p>
	</div>
	<div class="detail_main" style="height:510px;" ng-controller="interactiveMoreDetailCtrl">
	    <div class="content_trect">
	   		<div class="detail_main_title">
				<span class="detail_main_big">{{datas.title}}</span>
				<span class="detail_main_small">发布日期：{{datas.time}}</span>
	   		</div>
			<div class="detail_main_detail">
				<span class="detail_tract">{{datas.con}}</span>
			</div>
	    </div>
	</div>
</div>
</div>