<div class="teract_container">
    <div class="common_container">
		  <p class="position">当前位置:<a>学堂首页>></a>互动专区</p>
	</div>
	<div class="teract_content" ng-controller="interactiveCtrl">
		<div class="teract_content_left">
			<div class="teractleft_title">
				<a class='note'>
				   <span class="note_icon"></span>最新公告
				</a>
				<a class="note_more">更多>></a>
			</div>
			<div class="teract_content_main">
				<div class="teract_content" ng-repeat="item in data1">
					<p class="teract_content_title">
						<span class="teract_number">{{item.num}}</span>
						{{item.title}}
					</p>
					<div class="teract_content_detail">
						<a>{{item.content}}</a>
					</div>
				</div>
			</div>
		   	<div class="teractleft_title">
			 	<a class='note'>
			 	   <span class="qustion_icon"></span>最新问题
			 	</a>
			 	<a class="new_question">更多>></a>
		 	</div>
		    <div class="teract_content_main">
				<div class="teract_content" ng-repeat="item in data2">
					<p class="teract_content_title">
						<span class="teract_number">{{item.num}}</span>
						{{item.title}}
					</p>
					<div class="teract_content_detail">
						<a>{{item.content}}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="teract_content_right">
			<div class="teractleft_title">
				<a class='note'>
				   <span class="subject_icon"></span>专题交流
				</a>
				<a class="note_more">更多>></a>
			</div>
			<div class="teract_content_main">
				<div class="teract_content" ng-repeat="item in data3">
					<p class="teract_content_title">
						<span class="teract_number">{{item.num}}</span>
						{{item.title}}
					</p>
					<div class="teract_content_detail">
						<a>{{item.content}}</a>
					</div>
				</div>
			</div>
		   	<div class="teractleft_title">
			 	<a class='note'>
			 	   <span class="newquestion_icon"></span>最热问题
			 	</a>
			 	<a class="new_question">更多>></a>
		 	</div>
		    <div class="teract_content_main">
				<div class="teract_content" ng-repeat="item in data4">
					<p class="teract_content_title">
						<span class="teract_number">{{item.num}}</span>
						{{item.title}}
					</p>
					<div class="teract_content_detail">
						<a>{{item.content}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
   
   //更多信息
  $(".note_more").click(function(){
     $(".teract_container").load("inreractive_more.html");

  });
  $(".new_question").click(function(){
     $(".teract_container").load("new_question.html");

  });

</script>

</body>
</html>