<div class="teract_container">
    <div class="common_container">
		  <p class="position">当前位置:<a ui-sref="index.home">学堂首页>></a>互动专区</p>
	</div>
	<div class="teract_content" ng-controller="interactiveCtrl">
		<div class="teract_content_left">
			<div class="teractleft_title">
				<a class='note'>
				   <span class="note_icon"></span>最新公告
				</a>
				<a class="note_more" ui-sref="index.interactivePlace.more">更多>></a>
			</div>
			<div class="teract_content_main">
				<div class="teract_content" ng-repeat="item in datas | filter:{type:'a'} | limitTo:3">
					<p class="teract_content_title">
						<span class="teract_number">{{$index+1}}</span>
						<span ui-sref="index.interactivePlace.more.detail({courseId:item.num})">{{item.title}}</span>
					</p>
					<div class="teract_content_detail">
						<a>{{item.content}}</a>
					</div>
				</div>
			</div>
		   	<div class="teractleft_title">
			 	<a class='note'>
			 	   <span class="qustion_icon"></span>最新问题
			 	</a>
			 	<a class="new_question" ui-sref="index.interactivePlace.question">更多>></a>
		 	</div>
		    <div class="teract_content_main">
				<div class="teract_content" ng-repeat="item in datas | filter:{type:'b'} | limitTo:2">
					<p class="teract_content_title">
						<span class="teract_number">{{$index+1}}</span>
						<span ui-sref="index.interactivePlace.more.detail({courseId:item.num})">{{item.title}}</span>
					</p>
					<div class="teract_content_detail">
						<a>{{item.content}}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="teract_content_right">
			<div class="teractleft_title">
				<a class='note'>
				   <span class="subject_icon"></span>专题交流
				</a>
				<a class="note_more" ui-sref="index.interactivePlace.more">更多>></a>
			</div>
			<div class="teract_content_main">
				<div class="teract_content" ng-repeat="item in datas | filter:{type:'c'} | limitTo:3">
					<p class="teract_content_title">
						<span class="teract_number">{{$index+1}}</span>
						<span ui-sref="index.interactivePlace.more.detail({courseId:item.num})">{{item.title}}</span>
					</p>
					<div class="teract_content_detail">
						<a>{{item.content}}</a>
					</div>
				</div>
			</div>
		   	<div class="teractleft_title">
			 	<a class='note'>
			 	   <span class="newquestion_icon"></span>最热问题
			 	</a>
			 	<a class="new_question" ui-sref="index.interactivePlace.question">更多>></a>
		 	</div>
		    <div class="teract_content_main">
				<div class="teract_content" ng-repeat="item in datas | filter:{type:'d'} | limitTo:2">
					<p class="teract_content_title">
						<span class="teract_number">{{$index+1}}</span>
						<span ui-sref="index.interactivePlace.more.detail({courseId:item.num})">{{item.title}}</span>
					</p>
					<div class="teract_content_detail">
						<a>{{item.content}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
