<div class="common_container onlinetest" ng-controller="onlineListCtrl">
	<p class="position">当前位置: <a ui-sref="index.home">学堂首页</a> >><a ui-sref="index.onlineList">在线测评</a></p>
	<div class="serachdiv_container">
		<div class="searchdiv" ng-show="isShow">
			<div class="search-item">
				<label>课程名称：</label>
				<input type="text" class="searchtext">	
         		<span class="search_btn">搜索</span>
			</div>
			<div class="search-item">
				<label>分类课程：</label>
				<ul class="search-content">				    
					<li>增值税</li>
					<li>消费税</li>
					<li>企业所得税</li>
					<li>车辆购置税</li>
					<li>进出口税收</li>
					<li>非居民税收</li>
					<li>代开申请</li>
					<li>网络发票</li>
					<li>其他</li>
				</ul>
			</div>
			<div class="search-item">
				<label>专题课程：</label>
				<ul class="search-content">				    
					<li>新办纳税人</li>
					<li>营改增</li>
					<li>小微企业税收优惠</li>
					<li>电子税务局</li>
				</ul>
			</div>
		</div>	
		<div class="searchdiv-fold" ng-class="{open:isShow,close:!isShow}" ng-click="searchShow()">{{text}}</div>
	</div>
	<table id="datagrid">
		<thead>
			<tr>
				<th>课程/题库名称</th>
				<th>分制</th>
				<th>点击次数</th>
				<th>测评</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in datas">
				<td class="name">{{item.title}}</td>
				<td>{{item.grade}}</td>
				<td>{{item.click}}</td>
				<td><a class="entertest" ui-sref="index.onlineList.detail({courseId:item.id})">进入测评</a></td>
			</tr>		
		</tbody>
	</table>	
</div>	