<div class="common_container onlinedetail" ng-controller="onlineListKeyCtrl">
	<p class="position">当前位置: <a ui-sref="index.home">学堂首页</a> >><a ui-sref="index.onlineList">在线测评</a></p>
	<div id="questionskey" class="qu_container">
		<div class="qusort">
			一、单选题
		</div>
		<div class="qu-item" ng-repeat="item in datas">
			<p>{{$index+1}}.<span>{{item.title}}</span></p>
			<ul>
				<li ng-repeat="iteminner in item.answer">{{iteminner.option}}.{{iteminner.content}}</li>
			</ul>
			<div class="select">
				<span ng-repeat="iteminner in item.answer"><input type="radio" name="qu{{item.id}}"><label>{{iteminner.option}}</label></span>
			</div>
		</div>
	</div>
</div>