<div class="common_container videoClassView">
	<p class="position">当前位置: <a href="#">学堂首页</a> >><a ui-sref="index.videoClass">视频教室</a> >>视频播放</p>
	<div class="video">
		<!-- <video></video> -->
		<img src="public/images/videoimg.png" alt="">
	</div>
	<div class="rightinfo">
		<dl class="info">
			<dd class="name">课程名称：<span>小微企业最新优惠政策</span></dd>
			<dd class="teacher">讲师：<span>钟宜静</span></dd>
			<dd class="time">时长：<span>5分钟</span></dd>
			<dd class="number">浏览次数：<span>490</span></dd>
			<dd class="sort">课程类别：<span>其他</span></dd>
			<dd class="dec"><label>课程简介：</label><span>课程主要讲解纳税人在日常
          涉税生活中经常遇到的问题，
          给予指导。</span></dd>
		</dl>
		<div class="action">
			<span class="action1">能力测试</span>
			<span class="action2">教学评估</span>
			<span class="action3">课件下载</span>
			<span class="action4">热点问题</span>
		</div>
	</div>
</div>	
