<div class="common_container videoClass">
	<p class="position">当前位置: <a href="#">学堂首页</a> >><a href="#">视频教室</a>
		<span id="search-options">
			<!-- <span class="op-item">消费税<span class="op-close">X</span></span> -->
		</span>
	</p>
	
	<div class="left_container">
		<div class="leftmenu" id="videomenu">
		</div>
	</div>

	<div class="center_container serachdiv_container">
		<div class="searchdiv">
			<div class="search-item">
				<label>课程名称：</label>
				<input type="text" class="searchtext">	
         		<span class="search_btn">搜索</span>
			</div>
			<!--<div class="search-item">
				<label>授课时间：</label>
				<input type="text"  id="datastart" class="easyui-datebox">
           		<span class="to">至</span>
          		<input type="text" id="dataend" class="easyui-datebox">
			</div>
			<div class="search-item">
				<label>分类课程：</label>
				<ul class="search-content">				    
					<li>增值税</li>
					<li>消费税</li>
					<li>企业所得税</li>
					<li>车辆购置税</li>
					<li>进出口税收</li>
					<li>非居民税收</li>
					<li>代开申请</li>
					<li>网络发票</li>
					<li>其他</li>
				</ul>
			</div>
			<div class="search-item">
				<label>专题课程：</label>
				<ul class="search-content">				    
					<li>新办纳税人</li>
					<li>营改增</li>
					<li>小微企业税收优惠</li>
					<li>电子税务局</li>
				</ul>
			</div>-->
		</div>
		<div class="searchdiv-fold open">收起搜索</div>
		<div id="searchcontent">
		</div>	
		<div class="commonpage maxwidth570"></div>		
	</div>	

	<tabs>
		<pane title="最热视频">
			<ul ng-controller="videoHotListCtl">
				<li ng-repeat="item in list" ui-sref="index.videoClass.detail({courseId:item.id})">    
					<hoveritem>
						<single><em class="num">{{$index+1}}</em>2-{{item.name}}</single>
						<detail>
							<span class="videoimg"><img ng-src="{{item.imgurl}}" alt="{{item.imgurl}}"></span>
							<dl>
								<dd class="name">2-{{item.name}}</dd>
								<dd class="teacher">讲师 : {{item.teacher}}</dd>
								<dd class="time">时长 : {{item.time}}</dd>
							</dl>    
						</detail> 
					</hoveritem>
				</li>
			</ul>
		</pane>
		<pane title="推荐视频">
			<ul ng-controller="videoReListCtl">
				<li ng-repeat="item in list" ui-sref="index.videoClass.detail({courseId:item.id})">    
					<hoveritem>
						<single><em class="num">{{$index+1}}</em>3-{{item.name}}</single>
						<detail>
							<span class="videoimg"><img ng-src="{{item.imgurl}}" alt="{{item.imgurl}}"></span>
							<dl>
								<dd class="name">2-{{item.name}}</dd>
								<dd class="teacher">讲师 : {{item.teacher}}</dd>
								<dd class="time">时长 : {{item.time}}</dd>
							</dl>    
						</detail> 
					</hoveritem>
				</li>
			</ul>
		</pane>		
	</tabs>
</div>	


