<div class="common_container videoClassView" ng-controller="videoDetailCtl">
	<p class="position">当前位置: <a href="#">学堂首页</a> >><a ui-sref="index.videoClass">视频教室</a> >>视频播放</p>
	<div class="video">
		<!-- <video></video> -->
		<img ng-src="public/images/videoimg.png" alt="">
	</div>
	<div class="rightinfo">
		<dl class="info">
			<dd class="name">课程名称：<span>{{item.course_name}}</span></dd>
			<dd class="teacher">讲师：<span>{{item.lecturer}}</span></dd>
			<dd class="time">时长：<span>{{item.time_length}}分钟</span></dd>
			<dd class="number">浏览次数：<span>{{item.video_click_number}}</span></dd>
			<dd class="sort">课程类别：<span>{{item.name}}</span></dd>
			<dd class="dec"><label>课程简介：</label><span>{{item.discription}}</span></dd>
		</dl>
		<div class="action">
			<span class="action1">能力测试</span>
			<span class="action2">教学评估</span>
			<span class="action3"><a ng-href="{{item.file_path}}">课件下载</a></span>
			<span class="action4">热点问题</span>
		</div>
	</div>
</div>	
